<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ToDo Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">

    <!-- JS -->
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>

    <!-- APP JS -->
    <script src="js/service/TodoService.js"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="js/app.js"></script>
    <style>
        .strike {
            text-decoration: line-through;
        }
    </style>
</head>
<body ng-app="todoApp">
    <div class="container jumbotron" ng-controller="MainController">
        <div class="page-header">
            <h1>ToDo Demo App<small> - tasks manager</small></h1>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <form>
                    <div class="form-group">
                        <label>New Task</label>
                        <div class="input-group">

                                <input type="text" class="form-control" ng-model="formData.taskTitle" placeholder="Task title">
                                  <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" ng-click="createNewTask();">Add</button>
                                  </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-12 panel panel-default">
                <div class="panel-body">
                    <label>Tasks</label>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="todo in todos">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" aria-label="" ng-click="removeTask(todo._id);">
                                    <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                                </button>
                                <button type="button" ng-show="!todo.completed" class="btn btn-default" aria-label="" ng-click="completeTask(todo._id);">
                                    <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
                                </button>
                            </div>
                            <span ng-class="{strike: todo.completed}">{{todo.taskTitle}}</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</body>
</html>